* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: StratosSkyeng;
    src: url(shrift/WebFonts/stratosskyengweb-black.woff);
}

.general-header {
    width: 100%;
    background-color: #004980;
    display: flex;
    align-items: center;
    justify-content: center;
}

.general {
    width: 480px;
    height: 459px;
    background-color: #C2F5FF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.general_level {
    display: flex;
    justify-content: center;
}

.general_level_h1 {
    width: 208px;
    height: 96px;
    text-align: center;
    color: #004980;
}

.general_level-choice {
    display: flex;
    justify-content: space-around;
}

.general_level-click {
    width: 98px;
    height: 98px;
    border-radius: 12px;
    background-color: white;
    color: #0080C1;
    font-size: 64px;
    border: none;
    text-align: center;
}

.general_button-for {
    display: flex;
    justify-content: center;
}

.general_button {
    background-color: #7AC100;
    color: white;
    border-radius: 12px;
    border: none;
    width: 246px;
    height: 50px;
    text-align: center;
    font-size: 24px;
}


